.currLocation-container {
    width: 252.5px;
    height: 119px;
    border-radius: 10px / 10px;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border: 0.5px solid rgba(255, 255, 255, 0.05);
}
 
.icon-map {
    position: absolute;
    margin-top: 20px;
    margin-left: 27px;
}
.icon-pivot {
    position: absolute;
    margin-left: 33px;
    margin-top: 67px;
}

.currLocation-text {
    position: absolute;
    margin-left: 86px;
    margin-top: 71px;

    color: #FFF;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lngPosition-text {
    position: absolute;
    margin-left: 86px;
    margin-top: 23px;

    color: #FFF;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}