.mapandpointercontainer {
    width:70vw;
    height:70vh;
    margin:auto;
    position: relative;
    overflow: hidden;
    bottom: 0;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.pointercontainer {
    width: 30vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    position: absolute;
}

.mapcontainer {
    width: 100%;
    height: 100%;
    position: absolute;
}