.topbarcontainer {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.quotecontainer {
    width: auto;
    height: auto;
    padding: 2%;
}

.locationcontainer {
    width: auto;
    height: auto;
    padding: 2%;
}

.title {
    align-self: center;
}